{% extends 'base.html.twig' %}

{% block title %}Create Product{% endblock %}

{% block body %}
<div>
    <h2>Your request to be a producer of Local veggies has been sent.</h2>
    <h3>We will contact you as soon as possible.</h3>
</div>
{% endblock %}