<!DOCTYPE html>
<html>
    <head>
        <title>Local Veggies!</title>
    </head>
    <body>
        <h1>List of products</h1>

        <ul id="navigation">
            {% for product in products %}
                <li>{{ product.name }}: {{ product.price }} euros</li>
            {% endfor %}
        </ul>
    </body>
</html>