{% extends 'base.html.twig' %}

{% block title %}Create Product{% endblock %}

{% block body %}
<div>
    <h2>Welcome to Local veggies!!</h2>
    <h3>You can make an order now for the next distribution.</h3>
</div>
{% endblock %}